{% load staticfiles %}

    <div class="cart_body"><div class="item-list">
        <div class="cart_header text-center" id="cart_header">
            Ваша корзина товаров
        </div>

            <ul class="text-left" >
                {% for product_in_cart in products_in_cart %}
                <br><li>
                 <b><a href="{{ product_in_cart.product.id }}">{{ product_in_cart.product.name|title }}</a></b>
                 {{ product_in_cart.nmb }} шт.  по {{ product_in_cart.price_per_item }} р.
                 <a class="delete-item" href="" data-product_id="{{ product_in_cart.id }}">x</a>
                </li><br>
                {% endfor %}
            </ul>

        <div class="cart_order text-center">
            <!--<p>Всего: </p>-->
            <a href="#">Оформить заказ</a>
        </div>
    </div>
 </div>