{% extends "base.html" %}

{% load static %}

{% block title %}
{{ product.name|title }}
{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="col-sm-4">
        <img src= "{% static '/img/jacal.jpg' %}" class="img-responsive" >
        <!--<img src="{{ product.image }}" class="img-responsive">-->
    </div>
</div>
<div class="col-sm-8">
        <h1><strong>{{ product.name | title}}</strong></h1>
        <h2><a href="/shop/category/{{ product.category.id }}/">{{ product.category }}</a></h2>

        <span>
        {{ product.description | linebreaks}}
         </span>

        <div>
            <p class="price">{{ product.price }} руб.</p>
            <form id="form_buying_product" class="form-inline" action="{% url 'cart_adding' %}">
                {% csrf_token %}
                <input type="number" class="form-control" id="number" min="1" value="1">

                <div class="form-group">
                    <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                            data-product_id="{{ product.id }}" data-name="{{ product.name }}"
                            data-price="{{ product.price }}">Купить
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}