{% load staticfiles %}
<div class="thumbnails col-md-3 col-xs-">
    <div class="img-responsive">
        <a class='product' href="/shop/product/{{product.id}}">
            <img src= "{% static '/img/jacal.jpg' %}" class="img-responsive" >
            <h2>{{ product.name|title }}</h2> </a>
         <h4>  <a href="shop/category/{{ category.id }}/">{{ product.category }} </a></h4>
            <p>{{ product.price }}  руб</p>

    </div>
</div>