* {
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 120px !important;
    font-family: 'Muli', sans-serif;
}
body a {
    color: black;
    font-family: 'Muli', sans-serif;
}
body a:hover, nav.top_menu a, footer a, #sidebar a:hover, .thank_you, .thank_you  a {
    color: rgb(210, 227, 74);
}
body > header:nth-child(1) > div:nth-child(1) {
    margin: 0;
    padding: 0;
}
.container_top > div:nth-child(1) {
    margin-right: 15px;
}
hr {
    color: black;
    width:100%;
}
#header_top_white{
    background-color: white;
    z-index: 20;
    width:100%;
}
header {
    z-index:300;
}
section {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;
}
.container_shop {
    margin: 10px;
}
.container_top{
    color: #ffd25a;
    background-color: #000;
}
.container_top a {
    text-decoration: none;
    margin: 20px;
}
.top_menu {
    float: left;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.promo {
    display: flex;
    align-items: center;
    margin-left: 103px;
    overflow: cover;
    padding: 0 !important;
}
.promo_imgs img {
}
#logo {
    margin: 10px;
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
}
li {
    list-style: none;
}
.cart_top {
    float: right;
    padding-bottom: 5px;
}
.cart_toggled {
    position: relative;
    z-index: 20;
}
.cart_body {
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    position: absolute;
    right:0;
    margin-right:0;
    padding-bottom: 5px;
    color:black;
}
.cart_body ul {
    margin-left: 10px;
}
.item-list {
    width: 30%;
    background-color: white;
    margin-right: 2px;
    float: right;
}
.delete-item {
    color: red  !important;
}
.cart_header {
    background-color: #ffd25a;
    padding-top: 20px;
    padding-bottom: 10px;
    color:black;
}
.cart_order{
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 250px;
    border-top: 1px solid #ffd25a;
}
.cart_order a{
     color: #000;
}
.thumbnail {
    display: block;
    margin: 20px;
    margin-top: 10px;
}
.product:hover img {
	transform: scale(1.05);
	z-index:5;
}
#main, #sale, #sale img  {
    margin-bottom: 30px;
    margin-top: 30px;
}
#main h1, #sale h1  {
    clear: both;
    margin: 40px;
}
#sale .row {
    border-top: 2px solid #d2e34a;
}
#sale span p {
    text-align: justify;
}
.product-detail {
    margin-top: 70px;
    margin-bottom: 70px;
}
.product-detail img:hover {
    transform: scale(1.2);
    position: absolute;
    z-index: 500;
}
.shop_category {
    font-size: 17px;
    background-color: #d2e34a;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}
.shop_category button {
    padding: 6px;
    border: 0px solid green;
    margin-right: 10px;
    float: right;
    margin-top: -8px;
}
#contacts form {
    margin-top: 35px;
    margin-bottom: 35px;
}
#sidebar {
    margin-top: 200px;
    font-family: 'Muli', sans-serif;
}
#form_buying_product {
    margin-bottom: 35px;
}
.footer {
    background-color: #000;
    padding: 10px 40px;
    /*padding-top: 10px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(210, 227, 74);
    height: 100px;
    font-family: 'Muli', sans-serif;
    margin-top: 20px;
}
.footer .links a {
    display: inline-block;
    margin-left: 20px;
}
.old {
    filter: grayscale(.4) sepia(0.3);
    transition: filter 1s ease-in-out;
}
.old:hover {
    filter: grayscale(0) sepia(0);
}
.fa {
    margin-right: 20px;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.thank_you {
    background-color: #000;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}