<!DOCTYPE html>
{% load staticfiles %}

<html lang="ru">
<!-- HEAD -->
<head>
    <!--<noscript>-->
        <!--<meta http-equiv="Refresh" content="0; https://site.ru/">-->
    <!--</noscript>&lt;!&ndash;mysite.ru – страница, куда сразу перенаправляется пользователь при выключенном в браузере js&ndash;&gt;-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Продажа аккумуляторов в Москве">
    <meta name="keywords" content="Покупка, продажа, аккумулятор, недорого">

    <!-- STYLE -->
    {% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% endblock %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/4d59331180.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/toggle_cart.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <title> {% block title %} {{ title|title }} {% endblock %} </title>
</head><!-- END HEAD -->
<!-- BODY -->
<body>
    <header id='header'>
        {% block header %}
        {% include 'inc/inc-header.html' %} {% block header_promo %} {% endblock %}
        {% endblock %}
    </header>  <div class="container">
        {% block pix %} {% endblock %}


            <div class="row"> {% block content %} {% endblock %} </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">
        {% block footer %} {% include 'inc/inc-footer.html' %}
        {% endblock %}
        </footer><!-- END FOOTER -->
</body><!-- END BODY -->
</html>