{% extends 'base.html' %}
{% load staticfiles %}
            {% block content %}
<section id="contacts" class="col-md-7 center-block">
    <form action="/contacts/" method="post">{% csrf_token %}
<p>Свяжитесь с нами! </p>

    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td><div>
                    <ul>
                        {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        {{ field }}
                    </ul>
             </div></td>
        </tr>
    {% endfor %}
    	<input type="submit" value="Отправить"/>

    </form>

</section>
    {% endblock %}