{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<div class="row" id="header_top_white">
    <div id="logo" class="col-md-3"> <img src="{% static '/img/logo.png' %}"></div>
    <div class="col-md-1">
        <br>
        <br>
    </div>
    <div class="promo_text col-md-6">
    <br><br>Lorem. We aim high at being focused on
        building relationships with our clients and community.</div>

    <!--CART-->
    <div class="cart_top col-md-1"></div>
</div>
{% include 'inc/inc-header.html' %}
{% endblock %}

{% block pix %}
    <div class="container">
         <div class="row"> {% include 'inc/pix-promo.html' %} </div>
    </div>
{% endblock %}

{% block content %}{% include 'shop.html' %}{% endblock %}
