{% for category in categories %}
<section>
    <p class="shop_category text-center grp-collapse">
        <a href="shop/category/{{ category.id }}/">{{ category.name | title }}</a>
        <!--<button id="f_price">По цене</button>-->
        <!--<button id="f_name">По имени</button>-->

    </p>

    <div class="row filter_category">
        {% for product in category.get_products %}
           {% include 'product/inc-product_summ.html' %}
        {% endfor %}
    </div>

    <div class="row filter_price hidden">
        {% for product in category.get_products_price %}
        {% include 'product/inc-product_summ.html' %}
        {% endfor %}
    </div>

    <div class="row filter_name hidden">
        {% for product in category.get_products_name %}
        {% include 'product/inc-product_summ.html' %}
        {% endfor %}
    </div>
</section>
{% endfor %}
