{% load staticfiles %}
<div class="container_top" data-toggle="sticky-onscroll">
    <div class="row">
        <nav class="top_menu col-md-11">
            <div class="col-md-9">
                <a href="/">Главная</a>
                <a href="/shop/category/">Категории</a>
                <a href="/sale/">Акции</a>
                <a href="/contacts/">Контакты</a>
            </div>
            <!--CART-->
            <div class="cart_top text-left">
                <span id="cart"> <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></span>
                <sup id="cart_total_nmb">
                {% if products_total_nmb %} ( {{products_total_nmb}} ) {% else %} (0) {% endif %}
                </sup>
            </div>
        </nav>
    </div>

        <!--CART toggled-->
    <div class="cart_toggled hidden text-right">
        {% include 'cart/details.html' %}
    </div>
</div>
