{% load staticfiles %}
<div class="col-md-3">
   <ul>
       {% for category in categories %}
       <li> <a href="/shop/category/{{ category.id }}/">{{ category.name }}</a> </li>
       {% endfor %}
   </ul>
</div>
<div class="col-md-3">
   <ul>
       <li> <a href="tel:+7777777777">+7 (777) 77 77 77</a></li>
       <li> <a href="mailto:magazine@magaz.in">magazine@magaz.in</a></li>
   </ul>
</div>
<div class="col-md-2">
    г. Москва, ул. Московская, д. 93
</div>
<div class="links col-md-4">
    <div class="col-xs-12">
        <a href='https://www.facebook.com'><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href='https://www.vk.com'><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
        <a href='https://www.tg.me'><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
        <a href='https://www.skype.com'><i class="fa fa-skype fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-12 thank_you"><a href='http://lapfoxtrax.com/' target='blank'>many  thanks  to <u>LapFox</u></a> </div>
</div>