{% load staticfiles %}

    <div class="promo col-md-10">
        <div class="promo_imgs">
            <a href="/sale/"><img class="old" src="{% static '/img/pic7.jpg' %}"></a>
        </div>
        <div class="promo_imgs">
            <a href="/sale/"><img class="old" src="{% static '/img/pic8.jpg' %}"></a>
            <a href="/sale/"><img class="old" src="{% static '/img/pic3.jpg' %}"></a>
        </div>
    </div>
