{% extends 'base.html' %}

{% load static %}

{% block title %}
{% if category %} {{ category.name }} {% else %} Категории {% endif %}
{% endblock %}

{% block content %}
 <div id="sidebar" class="col-sm-3">
    <ul>{% for category in categories %}
    <li><a href='{{ category.get_absolute_url }}'>{{ category.name }}</a></li><br>
    {% endfor %}</ul>
</div>
  <div id="main" class="product_list col-sm-9">
    <h1>Категории</h1>
    {% for category in categories %}
    <a href="/shop/category/{{ product.category.id }}/"></a><br>
    {% endfor %}
    <div class='items row'>
      {% for category in categories %}
        <div class="item col-sm-4 text-center">
          <a href='{{ category.get_absolute_url }}'>
              <img src='{% static "img/no-image.jpg"%}' class="img-responsive">
            <!--<img src='{% if category.image %}{{ category.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}' class="img-responsive">-->
          </a>
          <h3><a href='{{ category.get_absolute_url }}'>{{ category.name }}</a></h3><br>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}